<div class="container">
  <h2 id="index-header">
    <span class="surf-spot-count"><%= @spots.count %></span> surf spots around <span id="index-location"><%= @location %></span>
  </h2>
</div>

<div class="horizontal-scroll">
  <% @spots.each_with_index do |spot, index| %>
    <div class="horizontal-scroll__block">
      <%= render 'components/spot-card-swipe', spot: spot, image_id: index > 9 ? rand(1..10) : index+1  %>
    </div>
  <% end %>
</div>


