<div class="container">
  <div class="show-spot-header flex flex-row justify-between p-3 items-baseline">
    <%= link_to root_path do %>
      <h1 class="title">Surfeasy</h1>
    <%end%>
    <div class="socials flex flex-row items-center">
      <img src="/assets/profile_icon.png" alt="">
    </div>
  </div>
  <h2 id="index-header">
    <span class="surf-spot-count"><%= @spots.count %></span> surf spots around <span id="index-location"><%= @location %></span>
  </h2>
  <% @spots.each_with_index do |spot,index| %>
    <%= render 'components/spot-card', spot: spot, image_id: index > 9 ? rand(1..10) : index+1  %>
  <% end %>


</div>