// Define variables for your color scheme

// For example:
$red: #FD1015;

$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F8F8F8;


// wellenwerk:

$dark_blue: #16244D;
$light_blue: #005073;
$gold: #AD8356;
$blue-link:#03D1EB;
$white: #FFFFFF;
$green: #242E22;

