#banner {
  padding: 40px;
  background-image: url("banner.jpg");
  background-size: cover;
  background-position-x: center;
  width: 100vw;
  height: 100vh;
  color: white;

  p {
    margin: 10px 0px;
  }
}

.header {
  text-align: center;
}

.form {
  margin-top: 50px;
  padding: 20px;
  height: 300px;
  text-align: center;

  .location_con {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #f8f9fa;

    input {
      border: 0;
      width: 100%;
      color: white;
      background: transparent;
      &:focus {
        outline: none;
      }
    }

    img {
      width: 20px;
      height: 28px;
      margin-left: 10px;
    }
  }

  .skills_con {
    display: flex;
    justify-content: space-between;
  }

  .skill_pill {
    margin: 8px 0;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
    border: 2px solid #f8f9fa;
    font-size: 13px;
    font-weight: bold;
  }

  .active {
    background-color: #0077B6;
    border-color: #ffffff;
  }

  a {
    display: block;
    background-color: #0077B6;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #f8f9fa;
    color: white;
    margin: 20px auto 0;
    // browser differentiation
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

::placeholder {
  color: white;
}
