#index-header {
  font-size: 1.4rem;
  .surf-spot-count {
    font-weight: 900;
    color: orange;
    font-size: 1.75rem;
  }
}

#index-location {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
}

#index-bg-shape {
  opacity: 80%;
  position: fixed;
  bottom: 30vh;
  height: 35vh;
  width: 300vw;
  background-color: orange;
  z-index: -4;
  transform: translateX(-100vw) rotate(-30deg);
}
