<div class="p-4 text-justify">
  <h3>How it works</h3>
  <p class="mb-4"> Only by sharing your location and your skill level, the app will recommend the ideal surf spots. In the background we will look at the live conditions of each spot (e.g. wave height, wave periods, swell and wind direction) and compare them to the ideal conditions for this spot to work.
    In addition, we have integrated community features such as other surfers reviews, so that you also get insider information on the spot.
    Lastly, once you decide for one spot we will guide you straight to it.</p>
  <h3>Data sources</h3>
  <p class="mb-4">We use realtime weather & ocean forecast data from Surfline.</p>
  <h3>Recommendations</h3>
  <p>Comparing live data with the ideal conditions for each spot enables us to provide a precise recommendation for each spot. A recommendation could span from “Not good” to “Amazing” depending on the conditions. </p>
</div>
