<h3>How does it work?</h3>
<p style="line-height: 30px;">
  We help surfers find their best waves: anytime & anywhere!<br>
  Based on real time weather and wave data.<br>
  It's really good.<br>
  Try it out.<br>
  Honestly.<br>
  Do it.<br>
  Yes.<br>
  <3<br>
</p>
