<div id="banner">
  <div class="header">
    <h1>Surfeasy</h1>
    <img src="<%= image_path("profile_icon.png") %>" alt="">
  </div>
  <p>Find the best waves around you</p>
  <div class="form">
    <div class="location_con">
      <input type="text" placeholder="Insert location...">
      <img src="<%= image_path("location.png") %>" alt="">
    </div>
    <div class="skills_con">
      <div class="skill_pill">KOOK</div>
      <div class="skill_pill active">INT</div>
      <div class="skill_pill">PRO</div>
    </div>
    <a href="/spots">
      Search the Ocean
    </a>
  </div>
</div>
