<div id="banner">
  <div class="header">
    <h1>Surfeasy</h1>
    <p><span>Placeholder</span></p>
  </div>
  <div class="form">
    <p><strong>Tell us your level</strong></p>
    <div class="skills_con">
      <div class="skill_pill"><%= BEGINNER %></div>
      <div class="skill_pill"><%= INTERMEDIATE %></div>
      <div class="skill_pill"><%= ADVANCED %></div>
    </div>
  </div>
</div>
