<div id="team-con">
  <h1 style="font-size: 2rem">Best surfers from ❤️ LeWagon</h1>
  <p>Cheers to Maxim, Charles, Hannes, Arif</p>
  <img id="team-pic" src="assets/team.jpg" alt="Team" class="rounded-lg">

</div>

