<h3>Welcome <%= @user.username %>!</h3>
<h6>E-Mail: <%= @user.email %></h6>
<br>

<h3>Your favourites</h3>
<ul>
  <li>Spot 1</li>
  <li>Spot 2</li>
  <li>Spot 3</li>
</ul>

<a id="btn-signout" href="/signout">
  Sign out
</a>
